/* responsywność */
* {
    box-sizing: border-box;
}
img{
	width: 100%;
	height:auto;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
div{
	float:left;
}
ul{
	margin:0px;
	padding:0px;
}
a{
	padding:0px;
}
/* napis obrazy i tła */
#gradient {
	position:static;
    background: -webkit-linear-gradient(#FFF2CC,#FFD966); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF2CC,#FFD966); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF2CC,#FFD966); /* Firefox 3.6 to 15 */
    background: linear-gradient(#FFF2CC,#FFD966); /* Standard syntax (must be last) */
}
.bodyClass{
	background-color: #FFF4AB;
}
/*navbar niżej*/
#navStyle{
	border-top: 3px solid #CC0000;
}
#divNav{
	background-color:#CC0000;
}
.dropdown{
	text-align:center;
	width: calc(100% / 6);
	background-color:#CC0000;
	float:left;
	border-right: 2px solid #fff;
	display:block;
}
.dropdown:hover{
	text-decoration:none; 
	background-color:black;
}
.buttons{

	text-align:center;
	width: calc(100% / 6);
	background-color:#CC0000;
	float:left;
	display:block;
}
.buttons:hover{
	text-decoration:none; 
	background-color:black;
}
#navInLine{
	width:100%;
	list-style-type:none;
	display:block;
    margin: 0px;
    padding: 0%;
    overflow: hidden;
    background-color: #CC0000;
}
.reff{
	padding: 0px;
	color:white;
}
.reff:hover{
	text-decoration:none; 
	color:white;
}
.dropButton{
	display:block;
	color:white;
}
.dropButton:hover{
	text-decoration:none; 
	color:white;
}
.dropdown-menu>li>a{
	margin:0px;
	padding:0px 5px;
	min-width:100%;
}
/* posty poniżej*/
.post{
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	background-color:white;
}
.imgPost{
	margin: 1% 2% 1% 2%;
	height:150px;
}
.textColumn{
	padding:0px;
}
.someInfo{
	margin: 0% 2% 1% 5%;
	font-size: 16px;
}
.postTitle{
	font-weight: bold;
}
.moreButton{
	margin: 1% 1% 1% 0%;
	float:right;
	list-style-type:none;
	text-align: center;
	width: 15%;
	padding: 1% 1% 1% 1%;
	background-color: #DB524C;
}
.moreButton:hover{
	text-decoration:none; 
	color:white;
}
.hrefTitle{
	color:black;
}
.hrefTitle:hover{
	text-decoration:none; 
	color:black;
}
/* pojedyńczy post */
.imgTop{
	
}

/* responsywność*/
@media all and (max-width:425px){
    #headColumnFormat{
		padding:0.5% 0%;
	}
	#divNav{
		width:100%;
		margin:0%;
	}
	#navInLine{

	}
	.buttons{
		padding:0px;
		height: 3vh;
		font-size: 10px;
	}
	.dropdown{
		padding:0px;
		height: 3vh;
		font-size: 10px;
	}
}
@media all and ( min-width:426px) {
    #headColumnFormat{
		padding:0.5% 0%;
	}
	#divNav{
		width:100%;
		margin:0%;
	}
	.buttons{
		padding:0px;
		height: 4vh;
		font-size: 11px;
	}
	.dropdown{
		padding:0px;
		height: 4vh;
	}
	.dropButton{
		font-size: 11px;
	}
}
@media all and ( min-width:769px) {
	#headColumnFormat{
		padding:0.5% 16.666667%;
	}
	#divNav{
		width:66.66666%;
		margin:0% 16.666667% 0% 16.666667%;
	}
	.buttons{
		padding: 0.5% 0% 0% 0%;
		height: 5vh;
		font-size: 12px;
	}
	.dropdown{
		padding: 0.5% 0% 0% 0%;
		height: 5vh;
	}
	.dropButton{
		font-size: 12px;
	}
}
@media all and (min-width:1200px){
	#headColumnFormat{
		padding:0.5% 16.666667%;
	}
	#divNav{
		width:66.66666%;
		margin:0% 16.666667% 0% 16.666667%;
	}
	.buttons{
		font-size: 16px;
		height: 5vh;
	}
	.dropButton{
		font-size: 16px;
		height: 5vh;
	}
	.caret{
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #fff;
	}
	.dropdown-menu>li>a{
		margin:0px;
		padding:0px;
	}
}